body {
  animation: colorchange 20s ease infinite;
  -webkit-animation: colorchange 20s ease infinite; /*Safari and Chrome*/
  -moz-animtaion: colorchange 20s ease infinite; /*Firefox*/
  -ms-animation: colorchange 20s ease infinite; /*Internet Explorer*/
}

@keyframes colorchange {
  0%    {background: #fabfa1;}
  33%   {background: #bada55;}
  66%   {background: #64ddbb;}
  100%  {background: #fabfa1;}
}

/*Safari and Chrome*/
@-webkit-keyframes colorchange {
  0%    {background: #fabfa1;}
  33%   {background: #bada55;}
  66%   {background: #64ddbb;}
  100%  {background: #fabfa1;}
}

/*Firefox*/
@-moz-keyframes colorchange {
  0%    {background: #fabfa1;}
  33%   {background: #bada55;}
  66%   {background: #64ddbb;}
  100%  {background: #fabfa1;}
}

/*Internet Explorer*/
@-ms-keyframes colorchange {
  0%    {background: #fabfa1;}
  33%   {background: #bada55;}
  66%   {background: #64ddbb;}
  100%  {background: #fabfa1;}
}

#wrapper {
  margin: 0;
  padding: 0;
  border: 0;
}

#logo {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#linkbar {
  position: absolute;
  padding: 0;
  border: 0;
  width: 40%;
  bottom: 0%;
  left: 30%;
}

#linkbar td {
  text-align: center;
}

.socialmedia {
  width: 100%
}
